@font-face {
  font-family: "Mrs. Monster Expanded Expanded";
  font-style: normal;
  font-weight: normal;
  src: local("Mrs. Monster Expanded Expanded"),
    url("mrsmonsterexpand.woff") format("woff");
}
h1 {
  font-family: "Mrs. Monster Expanded Expanded";
  color: #4bcc7c;
}
